<div class="sidebar">
  <div class="sidebar__logo">
      <div class="sidebar__logo-img__circle">
          <img src="/assets/img/logo.jpg"/>
      </div>
      <div class="sidebar__logo-name">
          <span>Hello, I am..</span>
      </div>
      <div class="sidebar__logo-title">
          <h2 class="uppercase text-center font-bold text-4xl">Liam Bùi</h2>
          <h3 class="text-center text-xl leading-10">Fullstack Developer</h3>
      </div>
  </div>

  <div class="sidebar__contact">
      <div class="sidebar__contact-title text-white">
        <p class="uppercase"><i class="fa-light fa-user-secret"></i><span>Contact</span></p>
        <div class="contact-title-item">
          <i class="fa-light fa-phone-volume"></i><span>035.8411.867</span>
          <i class="fa-thin fa-inbox"></i><span>nhatlinh.autoit@gmail.com</span>
          <i class="fa-thin fa-address-card"></i><span>Ha Noi - Viet Nam</span>
          <i class="fa-light fa-browser"></i><span>https://tamisuhiko.github.io</span>
        </div>
      </div>
      <div class="sidebar__contact-title text-white">
        <p class="uppercase"><i class="fa-light fa-language"></i><span>Languages</span></p>
        <div class="contact-title-item">
          <i class="fa-light fa-phone-volume"></i><span>035.8411.867</span>
          <i class="fa-thin fa-inbox"></i><span>nhatlinh.autoit@gmail.com</span>
          <i class="fa-thin fa-address-card"></i><span>Ha Noi - Viet Nam</span>
          <i class="fa-light fa-browser"></i><span>https://tamisuhiko.github.io</span>
        </div>
      </div>
      <div class="sidebar__contact-title text-white">
        <p class="uppercase"><i class="fa-light fa-game-console-handheld"></i><span>Hobbies</span></p>
        <div class="contact-title-item">
          <i class="fa-light fa-phone-volume"></i><span>035.8411.867</span>
          <i class="fa-thin fa-inbox"></i><span>nhatlinh.autoit@gmail.com</span>
          <i class="fa-thin fa-address-card"></i><span>Ha Noi - Viet Nam</span>
          <i class="fa-light fa-browser"></i><span>https://tamisuhiko.github.io</span>
        </div>
      </div>
  </div>
</div>