.sidebar {
  background-color: #09253c;
  height:100%
}
.sidebar__logo {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
  .sidebar__logo-name {
    padding: 3rem;
    > span {
      background-color: #00162a;
      padding: 0.6rem 1rem;
      font-weight: 700;
      font-size: 1.5rem;
      border-radius: 5px;
    }
  }
  .sidebar__logo-img__circle {
    width: 12rem;
    height: 12rem;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
  }
}

.sidebar__contact {
  .sidebar__contact-title {


    > p {
        background-color: #00162a;
      padding: 0.2rem 2rem;
      font-size: 1.5rem;
      span {
        font-weight: 500;
        padding-left: 2rem;
      }
      i {
        font-size: 2rem;
      }
    }

    .contact-title-item {
      display: grid;
      grid-template-columns: 1fr 7fr;
      padding: 1rem 3rem;
      grid-auto-rows: 1.5rem;
    }
  }
}
