<app-wrapper>
  <div class="main-container">
    <div class="main__education main_leftbar_wrapped">
      <div class="main__leftbar_item">
        <div class="main__leftbar_item-bar">
          <b></b>
          <b></b>
          <h3>Education</h3>
        </div>

        <div>
          <p>adasdsadsadadsadsads</p>
        </div>
      </div>
    </div>
    <div class="main__experience">
        <div class="main__leftbar_item main__leftbar_item__green">
            <div class="main__leftbar_item-bar">
              <b></b>
              <b></b>
              <h3>Experience</h3>
            </div>
    
            <div>
              <p>adasdsadsadadsadsads</p>
            </div>
          </div>
    </div>
    <div class="main__skills">
        <div class="main__leftbar_item main__leftbar_item__red">
            <div class="main__leftbar_item-bar">
              <b></b>
              <b></b>
              <h3>Skills</h3>
            </div>
    
            <div>
              <p>adasdsadsadadsadsads</p>
            </div>
          </div>
    </div>
    <div class="main__certifications">
        <div class="main__leftbar_item main__leftbar_item__purple">
            <div class="main__leftbar_item-bar">
              <b></b>
              <b></b>
              <h3>Certifications</h3>
            </div>
    
            <div>
              <p>adasdsadsadadsadsads</p>
            </div>
          </div>
    </div>
    <div class="main__achievements">
        <div class="main__leftbar_item main__leftbar_item__blue">
            <div class="main__leftbar_item-bar">
              <b></b>
              <b></b>
              <h3>Achievements</h3>
            </div>
    
            <div>
              <p>adasdsadsadadsadsads</p>
            </div>
          </div>
    </div>
  </div>
</app-wrapper>
